<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Favicons -->
<link rel="icon" type="image/png" href="/ducat/images/favicon.png">


<!-- CSS Begins
================================================== -->
<!--Animate Effect-->
<link href="/ducat/css/animate.css" rel="stylesheet">
<link href="/ducat/css/hover.css" rel="stylesheet">

<!-- For Image Preview -->
<link rel="stylesheet" href="/ducat/css/magnific-popup.css">

<!--Owl Carousel -->
<link href="/ducat/css/owl.carousel.css" rel="stylesheet">

<link rel="stylesheet" href="/ducat/css/slick.css">

<!--BootStrap -->
<link href="/ducat/css/bootstrap.min.css" rel="stylesheet">
<link href="/ducat/css/normalize.css" rel="stylesheet">

<!-- Main Style -->
<link href="/ducat/css/style.css" rel="stylesheet">
<link href="/ducat/css/responsive.css" rel="stylesheet">

<script src="//code-eu1.jivosite.com/widget/1fC93L0Z2S" async></script>

