<!-- Scripts
========================================-->

<!--JivoChat -->




<!-- jquery -->
<script src="/ducat/js/jquery-1.12.4.min.js"></script>
<!-- plugins -->
<script src="/ducat/js/plugins.js"></script>
<!-- Bootstrap -->
<script src="/ducat/js/bootstrap.min.js"></script>
<script src="/ducat/js/slick.min.js"></script>
<script src="/ducat/js/jquery.stellar.min.js"></script>


<!-- Custom Scripts
========================================-->
<script src="/ducat/js/main.js"></script>