<script src="/css/plugins/jquery/jquery.min.js"></script>
<script src="/css/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/css/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/css/plugins/chart.js/Chart.min.js"></script>
<script src="/css/plugins/sparklines/sparkline.js"></script>
<script src="/css/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="/css/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<script src="/css/plugins/jquery-knob/jquery.knob.min.js"></script>
<script src="/css/plugins/moment/moment.min.js"></script>
<script src="/css/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/css/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/css/plugins/summernote/summernote-bs4.min.js"></script>
<script src="/css/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/css/dist/js/adminlte.js"></script>
<script src="/css/dist/js/demo.js"></script>
<script src="/css/dist/js/adminlte.min.js"></script>
<script src="/css/dist/js/pages/dashboard.js"></script>
<script src="/css/plugins/flot/jquery.flot.js"></script>
<script src="/css/plugins/flot/plugins/jquery.flot.resize.js"></script>
<script src="/css/plugins/flot/plugins/jquery.flot.pie.js"></script>
